body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#WindowBorder {
    margin: auto;
    overflow: hidden;
    border-radius:5px;
    border-collapse: separate;
    border-style: solid;
    border-color: #cbcbcb;
    border-width: thin;
    width: 540px;
    background-color: #f4f1f8;
    filter: drop-shadow(0 0 0.4rem rgb(168, 168, 168));
    padding-bottom: 8px;
}

#QueryBoxArea {
    margin: 4px 12px 0 18px;
    border: 0px solid #000;
    position: relative;
    height: 52px;
}

#QueryBoxText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    position: absolute;
    color: #000;
    z-index: 999;
}

#QueryBoxSuggestion {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    position: absolute;
    color: rgb(150, 150, 150);
}

#QueryBoxText::after {
    content: ' ';
    top: 50%;
    margin-left: 2px;
    transform: translateY(-50%);
    font-size: 28px;
    color: #000;
    background: #000;
    width: 2px;
    height: 32px;
    position: absolute;
}

#GlassIcon {
    right: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;

}

#Separator {
    position: relative;
    top: 0px;
    width: 520px;
    margin: 4px auto;
    background-color: #eaeaea;
    height: 1px;
}

.item {
    border: 0px solid #000;
    display: block;
    height: 52px;
    position: relative;
}

.selecteditem {
    background-color:#eae7ee;
}

.icon {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    border: 0px solid #000;
    display: table-cell;
    vertical-align: middle;
}

.Title {
    margin: 0 0 0 0;
    display: block;
    width: 400px;
    font-size: 16px;
    overflow: hidden;
    text-wrap: nowrap;
}

.selecteditem .Title {
    color: inherit;
}

.selecteditem .SubTitle {
    color: inherit;
}

.SubTitle {
    color:#787878;
    font-size: 13px;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    max-width: 400px;
}

.Hotkey {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    float: right;
    width: 80px;
    border: 0px solid #000;
    text-align: center;
    font-size: 13px;
    color: #acacac;
}