#WindowBorder {
    transform-style: preserve-3d;
    transform:
        perspective(1000px)
        rotateY(45deg)
        rotateX(0deg);
    filter: unset !important;
    overflow: unset !important;
    outline: 1px solid transparent;
}

#WindowBorder::after {
    content: "";
    inset: 0px;
    transform:
        translateY(70%)
        rotateX(90deg);
    position: absolute;
    filter: blur(60px);
    opacity: 0.5;
    background-color: #ffffff;
}